<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="#"></a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <button class="nav-item nav-link" routerLink="/start"> Overview <span class="sr-only"></span></button>
      <button class="nav-item nav-link" routerLink="/slider"> Team Positions <span class="sr-only"></span></button>
      <button class="nav-item nav-link" routerLink="/sliderSingles"> Player Positions <span class="sr-only"></span></button>
      <button class="nav-item nav-link" routerLink="/sliderMultiplePlayers"> Team Positions Randomized <span class="sr-only"></span></button>
    </div>
  </div>
</nav>

