<body>

<div class="container">
  <h1> Team positions of personal match history </h1>

  <div fxLayout="row" fxLayoutGap="100px">
    You can search the match history of one specific player, either looking at all their matches or filtering further.
    The position data of all team members will be displayed, not just of the one player.
  </div>
  <br />
  <div fxLayout="row" fxLayoutGap="100px">
    You can filter by the champion the player chose (champion name), the team they played in (red/blue), and if you chose a team,
    you can also filter by whether the player's team won or lost.
  </div>
</div>

<br />   <br />

<form novalidate [formGroup]="searchForm">
  <h2>Team Position Search</h2>

  <div class="container">

    <div class="flex-box">
      <span>Player</span>
      <span>
        <input type="text"
               formControlName="playerName"
               class="form-control"
               placeholder="Player Name"
        />
      </span>
    </div>

    <div class="flex-box">
      <span>Champion (Optional)</span>
      <span>
        <input type="text"
             formControlName="championName"
             class="form-control"
             placeholder="Champion Name"
        />
      </span>
    </div>

    <div class="flex-box">
      <span>Team (Optional)</span>
      <span>
        <input type="text"
               formControlName="playerTeam"
               class="form-control"
               placeholder="blue/red"
        />
      </span>
    </div>

    <div class="flex-box">
      <span>Result (Optional)</span>
      <span>
        <input type="text"
               formControlName="playerResult"
               class="form-control"
               placeholder="win/lose"
        />
      </span>
    </div>

    <div class="col-md-3">
      <div [hidden]="searched">
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
          <button type="submit">Search</button>
        </form>
      </div>
      <div [hidden]="!searched">
        <button type="button" (click)="resetSearch()">Reset Search</button>
      </div>
    </div>

  </div>
</form>

<br /> <br />

<div *ngIf="matchData">
  <h3> {{matchData.length}} Matches matching query </h3>
</div>

<br />

<div *ngIf="matchData">

  <form [formGroup]="sliderType" (ngSubmit)="updateSliderComponent()">

    <div class="flex-box">

      <span>
        Select Time-Interval Length
      </span>

      <span>
        <select formControlName="intervalSize">
          <option [ngValue]="null" disabled>Select Time-Interval Length for Slider </option>
          <option *ngFor="let slider of sliders" [ngValue]="slider.id">{{slider.name}}</option>
        </select>
      </span>

    </div>

    <button type="submit">Choose Interval</button>

  </form>
</div>

<br />

<div *ngIf="matchData">
  <ng-container *ngIf="this.chosenSlider=='15'; else check10">
    <h2> Positions in 15-Minute Intervals </h2>
    <div class="row">
      <div fxLayout="row" fxLayoutGap="5px">
        <div class="col">
          <h2>Team Blue</h2>
          <app-matches-gamephase-slider-heat [matchData]="matchData" [team]="'blue'"></app-matches-gamephase-slider-heat>
        </div>
        <div class="col">
          <h2>Team Red</h2>
          <app-matches-gamephase-slider-heat [matchData]="matchData" [team]="'red'"></app-matches-gamephase-slider-heat>
        </div>
        <div class="col">
          <h2>Both Teams</h2>
          <app-matches-gamephase-slider-heat [matchData]="matchData" [team]="'both'"></app-matches-gamephase-slider-heat>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #check10>
    <ng-container *ngIf="this.chosenSlider=='10'; else check5">
      <h2> Positions in 10-Minute Intervals </h2>
      <div class="row">
        <div fxLayout="row" fxLayoutGap="5px">
          <div class="col">
            <h2>Team Blue</h2>
            <app-matches-gametime-slider-heat [matchData]="matchData" [team]="'blue'"></app-matches-gametime-slider-heat>
          </div>
          <div class="col">
            <h2>Team Red</h2>
            <app-matches-gametime-slider-heat [matchData]="matchData" [team]="'red'"></app-matches-gametime-slider-heat>
          </div>
          <div class="col">
            <h2>Both Teams</h2>
            <app-matches-gametime-slider-heat [matchData]="matchData" [team]="'both'"></app-matches-gametime-slider-heat>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-template>
  <ng-template #check5>
    <ng-container *ngIf="this.chosenSlider=='5'; else check2">
      <h2> Positions in 5-Minute Intervals </h2>
      <div class="row">
        <div fxLayout="row" fxLayoutGap="5px">
          <div class="col">
            <h2>Team Blue</h2>
            <app-matches-gametime-sliderFine-heat [matchData]="matchData" [team]="'blue'"></app-matches-gametime-sliderFine-heat>
          </div>
          <div class="col">
            <h2>Team Red</h2>
            <app-matches-gametime-sliderFine-heat [matchData]="matchData" [team]="'red'"></app-matches-gametime-sliderFine-heat>
          </div>
          <div class="col">
            <h2>Both Teams</h2>
            <app-matches-gametime-sliderFine-heat [matchData]="matchData" [team]="'both'"></app-matches-gametime-sliderFine-heat>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-template>
  <ng-template #check2>
    <ng-container *ngIf="this.chosenSlider=='2'; else check1">
      <h2> Positions in 2-Minute Intervals </h2>
      <div class="row">
        <div fxLayout="row" fxLayoutGap="5px">
          <div class="col">
            <h2>Team Blue</h2>
            <app-matches-gametime-detail-animation-heat [matchData]="matchData" [player]="'all'" [team]="'blue'"></app-matches-gametime-detail-animation-heat>
          </div>
          <div class="col">
            <h2>Team Red</h2>
            <app-matches-gametime-detail-animation-heat [matchData]="matchData" [player]="'all'" [team]="'red'"></app-matches-gametime-detail-animation-heat>
          </div>
          <div class="col">
            <h2>Both Teams</h2>
            <app-matches-gametime-detail-animation-heat [matchData]="matchData" [player]="'all'" [team]="'both'"></app-matches-gametime-detail-animation-heat>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-template>
  <ng-template #check1>
    <h2> Positions in 1-Minute Intervals </h2>
    <div class="row">
      <div fxLayout="row" fxLayoutGap="5px">
        <div class="col">
          <h2>Team Blue</h2>
          <app-heatmap-animation-fine [matchData]="matchData" [player]="'all'" [team]="'blue'"></app-heatmap-animation-fine>
        </div>
        <div class="col">
          <h2>Team Red</h2>
          <app-heatmap-animation-fine [matchData]="matchData" [player]="'all'" [team]="'red'"></app-heatmap-animation-fine>
        </div>
        <div class="col">
          <h2>Both Teams</h2>
          <app-heatmap-animation-fine [matchData]="matchData" [player]="'all'" [team]="'both'"></app-heatmap-animation-fine>
        </div>
      </div>
    </div>

  </ng-template>
</div>


</body>










